@model SomaliaNews.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsContext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsContext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsReporter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsReporter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
